body { 
  background-color: beige;
  font-family: 'Ubuntu', sans-serif; /* Web font */
  font-size: small;
  margin: 0px;
  margin-top: 0px;
  position: absolute; /* Absolute or frozen layout */
}

#events {
	font-size: 60px;
	text-align: center;
	text-shadow: 0px 0px 3px #FF0000;
	margin-bottom: 0px;
}

#navevents {
	margin: 10px 390px 0px 410px; 
}

nav ul {
	position: absolute;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}

nav ul li {
	display: inline-block;
	padding: 5px 40px 5px 20px;
}

a:link, a:visited {
	text-decoration: none;
}

nav ul li a:link, nav ul li a:visited {
	color: #954b4b;
	border-bottom: none;
	font-weight: bold;
	text-shadow: 1px 1px 3px #e2c2c2; 
	text-transform: uppercase
}

#pagewrap2 
{
    width: 540px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

.eventsheader {
	font-size: 20px;
	text-align: center;
	text-shadow: 0px 0px 3px #FF0000;
	margin-bottom: 0px;
}

.section  {
	width: 100px;'/* Different width */
	display: table;
	display: table-row;
	display: table-cell;
	border-right: thin solid black;
	padding: 16px;
}

.article {
	width: 200px; /* Different width */
	display: table;
	display: table-row;
	display: table-cell;
	padding: 16px;
	border-right: thin solid black;
	padding-left: 10px;
}

.aside {
	width: 125px; /* Different width */
	display: table;
	display: table-row;
	display: table-cell;
	padding: 16px;
}
